<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>productbadges</name>
    <displayName><![CDATA[Etiquetas de producto]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Crea etiquetas, asígnalas a productos y muéstralas en la ficha de producto.]]></description>
    <author><![CDATA[]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <confirmUninstall><![CDATA[Se eliminarán todas las etiquetas y asignaciones. ¿Continuar?]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
